doctype html
html
		head
				title Reddit Clone
				link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
				link(rel='stylesheet', href='/css/main.css')
		body
			a(href="/")
				h1 Reddit
			a(href="/new")
				h3 Create New Post
