doctype html
html
		head
				title Reddit Clone
				link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
				link(rel='stylesheet', href='/css/main.css')
		body
			ul
				li
					a(href="/")
						h1 Reddit
				li
					a(href="/newpost")
						h3 Create New Post
				if !email
					li
						a(href="/login")
							h3 Login
					li
						a(href='/register')
							h3 Register
				if email
					li: a(href='/logout') Logged in as #{email}
