include partials/header
.container.text-center
	h1 Create New Post
.formDiv.col-sm-12
	form(method='POST')
		.form-group
			label(for='title') Title
			input.form-control#title(type="text" name='title' placeholder="Title" required)/
		.form-group
			label(for='url') Link to Article
			input.form-control#url(type="text" name='url' placeholder="Url" required)/
		.form-group
			label(for='img') Link to Image
			input.form-control#img(type="text" name='img' placeholder="Url" required)/
		.form-group
			input.form-control#user(type='hidden' name='user' value=name)
		.form-group.btn
			button(type="submit") Submit

